# Note: add to `~/.config/git/ignore` for personal, global
# gitignore additions.
.cache/
.bash_history
/compute-domain-controller
/compute-domain-kubelet-plugin
/gpu-kubelet-plugin
.idea
[._]*.sw[a-p]
coverage.out
tests-out
*.log
*.log.*
*.tar
*.tgz
*.tar.gz

# Ignore shell scripts in the repository root;
# they are typically ad-hoc.
/*.sh

# Also, go programs in the repo root are typically
# ad-hoc
/*.go

.vscode

